.navbar_wrapper {
  position: fixed;
  z-index: 999;
  top: 31px;
  left: 33px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.navbar_wrapper > a {
  width: fit-content;
  font-weight: 800;
  font-size: 17px;
  line-height: 20px;
  color: black;
}